body {
  background-color: rgb(18, 36, 24);
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
.card {
  background-image: url('../img/card-back.png');
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 80px;
  height: 106px;
  cursor: default;
}
.form{
  color:beige;
}